[submodule "Assets/UCL"]
	path = Assets/UCL
	url = https://github.com/tim099/UCL
	branch = Dev
[submodule "Assets/DemoGames/AgeOfCube"]
	path = Assets/DemoGames/AgeOfCube
	url = https://github.com/tim099/AOC
	branch = Dev
[submodule "Assets/DemoGames/CardGame"]
	path = Assets/DemoGames/CardGame
	url = https://github.com/tim099/CardGame
	branch = Dev